<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exercises 2</title>
</head>

<body>

    <div>
        <h1>User details</h1>
        <form action="">
            <label class="text">TEXT:</label>
            <input type="text" name="text" id="text" placeholder="Enter the text">
        </form><br><br>
        <button type="submit" id="button">Show details</button><br><br>
        <h3 id="nav"></h3><br>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="../Scripts/exercise2.js"></script>
</body>

</html>