<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 3</title>
</head>
<body>
    <div>
        First Name: <input type="text" name="first" id="first">  <br>
        Last Name: <input type="text" name="last" id="last">    <br>
        Email: <input type="text" name="mail" id="mail">    <br>
        Password: <input type="text" name="pass" id="pass"> <br>
        <input type="button" value="button" id="button">
    </div>
    <div>
        <p id="print"></p>
    </div>

    <script src="../Script/exercise3.js"></script>
</body>
</html>