<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 4</title>
</head>
<body>
    
<div>
    <input type="number" name="number" id="number1">
    <input type="number" name="number" id="number2">
    <input type="number" name="number" id="number3">
    <h1 id="heading"></h1>
    <input type="button" id="button" value="button">
</div>











    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
  <script src="../Script/exercise4.js"></script>
</body>
</html>