<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 3</title>
</head>

<body>
    <form>
        <label for="firstName">First Name:
            <input type="text" id="first">
        </label> <br>
        <label for="lastName">Last Name:
            <input type="text" id="last">
        </label> <br>
        <label for="age">Age:
            <input type="text" id="age">
        </label> <br>
        <label for="button">
            <input type="button" value="Save" id="button">
        </label>
    </form>





    <script src="../Script/exercise3.js"></script>
</body>

</html>